Repository modiase/www.modiase.dev: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, svelte-check, typescript-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: detect-private-key

  - repo: local
    hooks:
      - id: prettier
        name: prettier (pnpm)
        entry: pnpm exec prettier --write
        language: system
        files: "\\.(svelte|ts|js|cjs|mjs|json|md|scss|css|html|ya?ml)$"
        pass_filenames: true

      - id: svelte-check
        name: svelte-check
        entry: pnpm exec svelte-check --tsconfig ./tsconfig.json --fail-on-warnings
        language: system
        files: "\\.(svelte|ts|js)$"
        pass_filenames: false

      - id: typescript-typecheck
        name: typescript typecheck
        entry: pnpm exec tsc -p tsconfig.json --noEmit
        language: system
        files: "\\.(ts|svelte)$"
        pass_filenames: false

Tweaks
  src/lib/components/common/Aside.svelte
  src/lib/components/common/TableOfContents.svelte
  static/posts.json
Due: prettier, svelte-check, typescript-typecheck

Tweaks
  src/lib/components/common/Aside.svelte
  src/lib/components/common/Code.svelte
  src/lib/components/common/TableOfContents.svelte
  static/posts.json
Due: prettier, svelte-check, typescript-typecheck

Bump packages and tweak styling
  pnpm-lock.yaml
  src/lib/components/common/Aside.svelte
  src/lib/components/common/TableOfContents.svelte
  src/lib/constants/breakpoints.ts
  src/lib/utils/mobile.ts
  src/routes/(site)/+layout.svelte
Due: prettier, svelte-check, typescript-typecheck

Fix title on blog post pages
  src/lib/components/common/MarkdownArticle.svelte
  src/routes/(site)/posts/[slug]/+page.svelte
Due: prettier, svelte-check, typescript-typecheck

Add AGENTS.md
  AGENTS.md
Due: prettier

More style tweaks
  src/lib/components/common/Aside.svelte
  src/lib/components/common/MarkdownArticle.svelte
  src/lib/components/common/TableOfContents.svelte
  src/routes/(site)/+layout.svelte
Due: prettier, svelte-check, typescript-typecheck

Update types
  src/lib/components/common/MarkdownArticle.svelte
  src/lib/types.ts
Due: prettier, svelte-check, typescript-typecheck

Add page heads
  src/routes/(site)/about/+page.svelte
  src/routes/(site)/gallery/+page.svelte
  src/routes/(site)/posts/+page.svelte
  src/routes/+page.svelte
Due: prettier, svelte-check, typescript-typecheck

Fix ToC transition
  src/lib/components/common/TableOfContents.svelte
Due: prettier, svelte-check, typescript-typecheck

Tweak header style
  src/lib/components/Header.svelte
Due: prettier, svelte-check, typescript-typecheck

Update sidebar styling
  src/lib/components/Sidebar.svelte
Due: prettier, svelte-check, typescript-typecheck

Add calendly redirect for meetings
  src/routes/(site)/meet/+page.ts
Due: prettier, svelte-check, typescript-typecheck

Fix hidden overlow of pre
  src/lib/components/common/MarkdownArticle.svelte
Due: prettier, svelte-check, typescript-typecheck

Add pay page
  pnpm-lock.yaml
  src/routes/(site)/pay/+page.ts
Due: prettier, svelte-check, typescript-typecheck

Add blog theming
  src/app.html
  src/lib/components/CopyFooter.svelte
  src/lib/components/Header.svelte
  src/lib/components/Link.svelte
  src/lib/components/Sidebar.svelte
  src/lib/components/ThemeToggle.svelte
  src/lib/components/common/Card.svelte
  src/lib/components/common/Code.svelte
  src/lib/components/common/MarkdownArticle.svelte
  src/lib/components/common/TableOfContents.svelte
  src/lib/utils/theme.ts
  src/routes/(site)/+layout.svelte
  src/routes/(site)/gallery/+page.svelte
  src/routes/(site)/posts/+page.svelte
  src/routes/+layout.svelte
  src/styles/_base.scss
  src/styles/_colors.scss
  static/assets/images/svelte-dark.svg
  static/assets/images/svelte-light.svg
  static/assets/images/tailwind-dark.svg
  static/assets/images/tailwind-light.svg
  static/assets/images/tailwind.svg
  tailwind.config.js
Due: prettier, svelte-check, typescript-typecheck

Fix verbiage and gallery background
  src/routes/(site)/gallery/+page.svelte
Due: prettier, svelte-check, typescript-typecheck

Update border colour in light mode
  src/styles/_colors.scss
Due: prettier

mobile: theme button overlapping sidebar button
  src/lib/components/Sidebar.svelte
  src/lib/components/ThemeToggle.svelte
Due: prettier, svelte-check, typescript-typecheck

Tweak page titles
  src/lib/components/common/MarkdownArticle.svelte
  src/routes/(site)/about/+page.svelte
  src/routes/(site)/gallery/+page.svelte
  src/routes/(site)/posts/+page.svelte
  src/routes/+page.svelte
Due: prettier, svelte-check, typescript-typecheck

Small style tweaks
  src/lib/components/Header.svelte
  src/lib/components/ThemeToggle.svelte
  src/routes/(site)/+layout.svelte
  src/routes/+page.svelte
Due: prettier, svelte-check, typescript-typecheck

Add frontend for post edits
  src/lib/components/common/Aside.svelte
  src/lib/components/common/EditContainer.svelte
  src/lib/components/common/EditContent.svelte
  src/lib/components/common/MarkdownArticle.svelte
  src/lib/components/common/PostPage.svelte
  src/lib/stores/devMode.ts
  src/routes/(site)/posts/+page.svelte
  src/routes/(site)/posts/[slug]/edit/+page.svelte
  src/routes/(site)/posts/[slug]/edit/+page.ts
  static/assets/icons/arrow-down.svg
  static/assets/icons/arrow-up.svg
  static/assets/icons/cross.svg
  static/assets/icons/database.svg
  static/assets/icons/eye.svg
  static/assets/icons/pencil.svg
  static/assets/icons/plus.svg
  static/assets/icons/undo.svg
Due: prettier, svelte-check, typescript-typecheck

Add modify post content functionality
  .gitignore
  bin/develop
  eslint.config.js
  package.json
  pnpm-lock.yaml
  server/index.ts
  src/lib/components/common/Aside.svelte
  src/lib/components/common/Card.svelte
  src/lib/components/common/Card/Simple.svelte
  src/lib/components/common/Code.svelte
  src/lib/components/common/EditContainer.svelte
  src/lib/components/common/MarkdownArticle.svelte
  src/lib/components/common/PostPage.svelte
  src/lib/components/common/TableOfContents.svelte
  src/lib/stores/devMode.ts
  src/lib/stores/pendingChanges.ts
  src/lib/types.ts
  src/lib/utils/api.ts
  src/lib/utils/rxjs.ts
  src/routes/(site)/posts/+page.svelte
  src/routes/(site)/posts/[slug]/edit/+page.ts
  src/routes/+error.svelte
  src/routes/+layout.svelte
  static/posts.json
  vite.config.js
Due: prettier, svelte-check, typescript-typecheck

Add create post functionality
  server/index.ts
  src/lib/components/CreatePostForm.svelte
  src/lib/components/common/EditContainer.svelte
  src/lib/components/common/MarkdownArticle.svelte
  src/lib/components/common/Modal.svelte
  src/lib/components/common/SimpleForm.svelte
  src/lib/types.ts
  src/lib/types/form.ts
  src/lib/utils/api.ts
  src/routes/(site)/posts/+page.svelte
Due: prettier, svelte-check, typescript-typecheck

Tweak wording
  static/posts.json
Due: prettier

Update edit functionality
  .pre-commit-config.yaml
  bin/develop
  package.json
  pnpm-lock.yaml
  server/handlers/contentBlocks.ts
  server/index.ts
  src/lib/components/common/EditContainer.svelte
  src/lib/components/common/MarkdownArticle.svelte
  src/lib/components/common/PostPage.svelte
  src/lib/stores/pendingChanges.ts
  src/lib/utils/api.ts
  src/lib/utils/contentBlockEdits.ts
  static/assets/images/hero.jpg
  static/posts.json
Due: prettier, svelte-check, typescript-typecheck

Restyle site landing page
  src/lib/components/Header.svelte
  src/lib/components/Hero.svelte
  src/lib/components/Sidebar.svelte
  src/routes/(site)/about/+page.svelte
  src/routes/+page.svelte
Due: prettier, svelte-check, typescript-typecheck

Improve logging
  bin/develop
Due: none

Add tooltips to landing page icons
  src/lib/components/Hero.svelte
  src/lib/components/common/Tooltip.svelte
Due: prettier, svelte-check, typescript-typecheck

Improve readability
  src/styles/_base.scss
Due: prettier

More style tweaks
  src/lib/components/common/Aside.svelte
  src/lib/components/common/TableOfContents.svelte
  src/lib/utils/api.ts
  src/lib/utils/rxjs.ts
Due: prettier, svelte-check, typescript-typecheck

Add more Lato weights
  src/styles/_typography.scss
  static/assets/Lato-Medium.ttf
  static/assets/fonts/Lato-MediumItalic.ttf
  static/assets/fonts/Lato-Semibold.ttf
  static/assets/fonts/Lato-SemiboldItalic.ttf
Due: prettier

Small tweaks
  src/lib/components/CopyFooter.svelte
  src/lib/components/Hero.svelte
  src/routes/+page.svelte
  src/styles/_colors.scss
Due: prettier, svelte-check, typescript-typecheck

Tweak colours
  src/lib/components/common/MarkdownArticle.svelte
  src/styles/_colors.scss
  tailwind.config.js
Due: prettier, svelte-check, typescript-typecheck

Update about page
  src/routes/+page.svelte
Due: prettier, svelte-check, typescript-typecheck

Fix sveltekit generated tsconfig
  svelte.config.js
Due: prettier, svelte-check

Improve logging in deploy-site script
  bin/deploy-site
  bin/develop
  bin/lib.sh
Due: none

Stylistic tweak
  src/lib/components/common/Aside.svelte
Due: prettier, svelte-check, typescript-typecheck

Tweak icons on front page
  src/lib/components/Hero.svelte
Due: prettier, svelte-check, typescript-typecheck

Remove duplication
  src/routes/+page.svelte
Due: prettier, svelte-check, typescript-typecheck
